/* Custom style for this layout */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url("PlayPageBackground.png"); /* Background for the whole page */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#canvas1 {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-image: url('background.png'); /* Background for the game box */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  margin-bottom: 20px;
}

#beetlemorph, #rhinomorph, #boss, #player, #player_jets {
  display: none;
}
